.image-background-page {
  display: flex;
  flex-direction: column;
  height: 300vh;
  background-image: url('/src/UI/home/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* 修改此行使 div 竖着一列分布 */
  grid-gap: 5px;
  height: 100%;
  mix-blend-mode: screen;
}

.grid-item {
  border-radius: 5px;
}

.transparent-div {
  position: relative;
  color: transparent;
}

.transparent-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-clip: text;
  z-index: -1;
}

.solid-div {
  background-color: #fff;
}
