.navbar-div {
  height: 100px;
  margin-top: 40px;
  display: flex;
  align-items: center;

  flex-direction: column;
}

.navbar {
  display: flex;
  background-color: #fff;
  justify-content: center;
  margin-left: 150px;
}

.nav-item-default {
  position: relative;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  height: 47px;
  width: 204;
}

.nav-item {
  position: relative;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  height: 47px;
  width: 204;
}

.nav-item-default:hover .nav-text {
  border-bottom: 0 solid;
  border-top: 0 solid;
  border-width: 1px 0;
  border-style: solid;
  padding: 10px;
}

.nav-item:hover .nav-text {
  border-bottom: 0 solid;
  border-top: 0 solid;
  border-width: 1px 0;
  border-style: solid;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-text-hover {
  border-bottom: 0 solid;
  border-top: 0 solid;
  border-width: 1px 0;
  border-style: solid;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-text {
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 23px;
  transition: 0.3s;
  font-family: cormorantgaramond-semibold, cormorantgaramond, serif;
  font-weight: 400;
}

.submenu {
  content: '';
  display: flex;
  background-color: #fff;
  justify-content: center;
  height: 40px;
  margin-top: 80px;
  padding-bottom: 20px;
  border-width: 0 0 1px 0;
  border-color: black;
  border-style: solid;
}

.submenu-item {
  position: relative;
  list-style: none;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

.submenu-item:hover .submenu-text {
  color: chocolate;
}

.submenu-text {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: 0.3s;
  white-space: pre-wrap;
  font-family: cormorantgaramond-semibold, cormorantgaramond, cormorant garamond,
    serif;
}

.submenu-text-hover {
  color: chocolate;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
