.block-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 1030px;
}

.grid-item {
  background-color: #ccc;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.item2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.item3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.item4 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.item5 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.item6 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.item7 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.item8 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.item9 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.grid-container2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 1030px;
}

.grid-container3 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 1030px;
}

.grid-container4 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 1354px;
}
