.dec-block-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
}

.dec-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 984px;
}

.text-div1 {
  background-color: black;
  height: 70px;
}

.dec-block-div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: black;
}

.dec-grid-container1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 525px;
  height: 1050px;
}

.dec-grid-container2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 454px;
  height: 1050px;
}

.dec-block-div3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.dec-grid-container3 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 996px;
  height: 690px;
}

.dec-text-style-1 {
  color: #ffffff;
  font-family: AvenirLTStd-Book, sans-serif;
}

.dec-text-style-2 {
  color: #ffffff;
  font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.dec-text-style-3 {
  color: #ffffff;
  font-family: nellroundhandw01-scrip, cursive, sans-serif;
}

.dec-text-style-4 {
  color: #ffffff;
  font-family: snellroundhand, cursive, sans-serif;
}

.dec-text-style-5 {
  color: #ffffff;
  font-family: oswald, sans-serif;
}

.dec-text-style-6 {
  color: black;
  font-family: oswald, sans-serif;
}
