.image-background {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('/src/UI/home/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.grid-item {
  border-radius: 5px;
}

.solid-div {
  background-color: #fff;
}
