@import '/src/common/Root.css';

.footer {
  background-color: white;
  padding: 40px;
  display: flex;
  justify-content: center;
  height: 5%;
}

.footer-title {
  color: black;
  margin: 0;
  font-size: 34px;
  font-weight: 600; /* 设置较粗的字体权重 */
  letter-spacing: -0.5px; /* 减小字母间距 */
  font-family: 'Oswald', sans-serif;
}
