:root {
  --color_0: 255, 255, 255;
  --color_44: 142, 160, 205;
  --color_22: 131, 155, 236;
  --color_1: 22, 43, 111;
  --color_2: 85, 112, 180;
  --color_3: 20, 46, 132;
  --color_4: 248, 247, 249;
  --color_5: 255, 215, 2;
  --color_6: 255, 255, 255;
  --color_7: 176, 191, 239;
  --color_8: 98, 127, 224;
  --color_23: 68, 105, 227;
  --color_9: 38, 73, 190;
  --color_10: 22, 43, 111;
  --color_11: 255, 255, 255;
  --color_12: 176, 191, 239;
  --color_13: 98, 127, 224;
  --color_14: 38, 73, 190;
  --color_15: 22, 43, 111;
  --color_16: 198, 207, 230;
  --color_17: 142, 160, 205;
  --color_18: 85, 112, 180;
  --color_24: 29, 68, 194;
  --color_19: 54, 74, 123;
  --color_20: 27, 37, 61;
  --color_25: 20, 46, 132;
  --color_26: 252, 251, 252;
  --color_27: 248, 247, 249;
  --color_28: 186, 176, 196;
  --color_29: 124, 106, 142;
  --color_30: 62, 53, 71;
  --color_31: 255, 235, 129;
  --color_32: 255, 215, 2;
  --color_33: 193, 162, 0;
  --color_34: 129, 108, 0;
  --color_35: 64, 54, 0;
  --color_36: 255, 255, 255;
  --color_37: 22, 43, 111;
  --color_38: 176, 191, 239;
  --color_39: 98, 127, 224;
  --color_40: 38, 73, 190;
  --font_0: normal normal normal 88px/1.2em oswald-medium, oswald, sans-serif;
  --color_41: 85, 112, 180;
  --color_45: 22, 43, 111;
  --color_46: 22, 43, 111;
  --color_47: 38, 73, 190;
  --color_48: 85, 112, 180;
  --color_49: 85, 112, 180;
  --color_50: 255, 255, 255;
  --color_51: 255, 255, 255;
  --color_52: 85, 112, 180;
  --color_53: 85, 112, 180;
  --color_54: 98, 127, 224;
  --color_55: 98, 127, 224;
  --color_56: 255, 255, 255;
  --color_57: 255, 255, 255;
  --color_58: 85, 112, 180;
  --color_42: 54, 74, 123;
  --color_59: 85, 112, 180;
  --color_60: 85, 112, 180;
  --color_61: 85, 112, 180;
  --color_62: 255, 255, 255;
  --color_63: 255, 255, 255;
  --font_1: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --font_2: normal normal normal 72px/1.25em oswald-medium, oswald, sans-serif;
  --font_3: normal normal normal 50px/1.34em oswald-medium, oswald, sans-serif;
  --font_4: normal normal normal 40px/1.35em oswald-medium, oswald, sans-serif;
  --font_5: normal normal normal 28px/1.375em oswald-medium, oswald, sans-serif;
  --font_6: normal normal normal 22px/1.41em oswald-medium, oswald, sans-serif;
  --font_7: normal normal normal 20px/1.67em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --color_64: 98, 127, 224;
  --color_21: 193, 205, 246;
  --font_8: normal normal normal 18px/1.75em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --font_9: normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --font_10: normal normal normal 14px/1.79em avenir-lt-w01_35-light1475496,
    avenir-lt-w05_35-light, sans-serif;
  --wix-ads-height: 50px;
  --wix-ads-top-height: 50px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --color_65: 98, 127, 224;
  --color_43: 252, 251, 252;
  --maxViewportSize: 1920;
}

@font-face {
  font-family: 'Oswald-ExtraLight';
  src: url('/src/assets/fonts/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('/src/assets/fonts/Arial.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica\ Verbundene.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('/src/assets/fonts/AvenirLTStd-Black.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('/src/assets/fonts/AvenirLTStd-Book.otf') format('truetype');
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('/src/assets/fonts/AvenirLTStd-Roman.otf') format('truetype');
}

@font-face {
  font-family: 'snellroundhand';
  src: url('/src/assets/fonts/SnellRoundhandW01Script.ttf') format('truetype');
}

@font-face {
  font-family: 'sacramento';
  src: url('/src/assets/fonts/Sacramento-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'worksans-extralight';
  src: url('/src/assets/fonts/WorkSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'reklamescriptw00-medium';
  src: url('/src/assets/fonts/Reklame\ Script\ Medium.otf') format('truetype');
}

@font-face {
  font-family: 'cormorantgaramond-semibold';
  src: url('/src/assets/fonts/CormorantGaramond-SemiBold.ttf')
    format('truetype');
}
