@import '/src/common/Root.css';

.home-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.transparentDivStyle {
  height: 645px;
  background-image: url('/src/UI/home/background.jpg');
}

.transparentDivStyle2 {
  height: 645px;
  background-image: url('/src/UI/home/background2.jpg');
}

.home-title-style {
  font-size: 43px;
  font-family: 'Oswald', sans-serif;
  justify-content: center;
}

.home-english-style {
  font-family: 'Oswald-ExtraLight', sans-serif;
  font-weight: 100;
}

.home-chinese-style {
  font-family: AvenirLTStd-Book, sacramento, cursive, sans-serif;
  font-weight: 300;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Block1 */
.divStyle1 {
  height: 442px;
  background-color: white;
}

/* Block2 */
.divStyle2 {
  height: 463px;
  background-color: black;
}

/* Block3*/
.divStyle3 {
  height: 774px;
}

/*Slide1*/
.slide1 {
  height: 774px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url('/src/UI/home/1e68ed_e339b89241d84ba6b5fb11e6566c86a7~mv2.jpg');
}

.slide1FloatingDiv {
  position: absolute;
  margin-top: 800px;
  margin-left: 300px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}

/*Slide2*/
.slide2 {
  height: 774px;
  display: flex;
  background-color: #0d1612;
  justify-content: center;
  align-items: center;
}

.slideContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.slide2Container1 {
  width: 50%;
  height: 100%;
  background-position: 'right center';
  background-size: 'cover';
  display: 'flex';
}

.slide2Container2 {
  width: 50%;
  height: 100%;
  background-position: 'left center';
  background-size: 'cover';
}

.slide2FloatingDiv1 {
  width: 60%;
  height: 774px;
  background-position: right center;
  background-size: cover;
  background-image: url(/src/UI/home/3_edited.jpg);
  background-repeat: no-repeat;
  float: right;
}

.slide2FloatingDiv2 {
  width: 60%;
  max-width: 100%;
  height: 774px;
  background-position: left center;
  background-size: cover;
  background-image: url(/src/UI/home/2.jpg);
  background-repeat: no-repeat;
}

.slide2FloatingDiv3 {
  width: 300px;
  height: 774px;
  position: absolute;
  margin-top: 1000px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}

/*Slide3*/
.slide3 {
  height: 774px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url('/src/UI/home/1e68ed_2879319be07049e5872f32c2f8ec991e~mv2.jpg');
}

.slider3Container {
  height: 387px;
  width: 100%;
}

.slide3FloatingDiv2 {
  width: 300px;
  height: 774px;
  position: absolute;
  margin-top: 630px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
}

.divStyle4 {
  height: 392px;
  background-color: black;
}
