.scrolling-bg {
  display: flex;
  /* flex-direction: column; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed; */
  /* background-position: center; */
  /* overflow: hidden; */
}
